@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', 'Garamond', serif;
  font-weight: 400;
  background-color: rgb(26, 24, 24);
  color: rgb(205, 205, 202);
  transition: background-color 0.2s ease, color 0.2s ease;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.01);
}

.light {
  background-color: rgb(255, 255, 252);
  color: rgb(26, 24, 24);
}

h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 20px;
  margin-top: -7px;
  font-weight: 500;
}

h2 hr {
  flex-grow: 1;
  margin-left: 12px;
  height: 1px;
  background-color: rgb(205, 205, 202);
  border: none;
}

p, ol, ul {
  margin: 0px 0 12px 0;
  color: inherit;
}

.project-text p {
  margin: 0 0 2px 0;
}
.project-text h3 {
  margin: -5px 0 2px 0;
}

.title-text p {
  margin: 0 0 2px 0;
}

.last-p {
  margin-bottom: 0;
}

/* reduce the left margin of lists */
ol, ul {
  padding-left: 20px; /* Adjust the value as needed */
}

a {
  color: rgb(150, 185, 150);
  text-decoration: none;
  transition: all 0.2s ease;
  position: relative;
}

a:not(.no-hover)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: rgb(150, 185, 150);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease;
}

a:not(.no-hover):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.no-hover {
  text-decoration: none;
}

.no-hover:hover {
  text-decoration: none;
}

.no-hover::after {
  display: none;
}

.no-hover:hover::after {
  display: none;
}

.title-img a, .project-media a {
  text-decoration: none;
}

.title-img a:hover, .project-media a:hover {
  text-decoration: none;
}

b, strong {
  font-weight: 500;
}

.light h2 hr {
  background-color: rgb(26, 24, 24);
}

.title-img {
  height: 110px;
  width: 110px;
}

.title-img img {
  width: 100%;
  border-radius: 3px;
}

.project-media {
  margin: 10px;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 0.5px solid rgb(60, 60, 60);
}

.project-media img,
.project-media video {
  border-radius: 6px;
  width: 100%;
}

.light .project-media {
  border: 0.5px solid rgb(200, 200, 200);
}

.badge {
  display: inline-block;
  padding: 0px 8px;
  line-height: 1;
  margin-top: 4px;
  margin-right: 5px;
  font-size: 0.85em;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  transform: scale(1.01);
  transition: transform 0.2s ease;
  transform-origin: center;
}

.badge.conference {
  background-color: rgb(0, 100, 0);
  color: rgb(150, 185, 150);
}

.light .badge.conference {
  background-color: rgb(200, 235, 200);
  color: rgb(20, 120, 20);
}

/* layout */

.outer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.text-container {
  flex: 100;
  min-width: 250px;
  display: flex;
  text-align: justify;
  text-justify: inter-word;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin:10px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.subsection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}


/* heading and footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-bottom: 15px;
}

.footer a {
  margin-left: 8px;
}

.title-text {
  margin-top: 5px;
}

.light p, .light ol, .light ul, .light li, .light h1, .light h2, .light h3 {
  color: inherit;
}

.light a {
  color: rgb(20, 120, 20);
}

.light a:not(.no-hover)::after {
  background-color: rgb(20, 120, 20);
}