body {

    position: relative;
}

#h_pic {
    border-radius: 50%;
    margin-left: 1%;
    margin-right: 0%;
    width: 3%;
}

.navbar {
    font-size: 18px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#rel {
    position: relative;
}

#header-profile {
    display: inline;
}

#icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

.eecs {
    margin-left: auto;
    margin-right:auto;
    width:30%;
}

#contact {
	display:inline; 
	float:left; 
    margin: 20px 20px 20px 0px;
    border-radius: 50%;
    width: 20%;
}

.icon {
    width: 5%;
    min-width: 20px;
    margin: 10px 10px 10px 10px;
}

#profile {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#landing {
    background: linear-gradient(#94c2e9, #9297d1) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    margin-bottom: 1%;
}


#landing h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 250%;
    
}

#footer {
    margin-top: 10px;
    padding: 1% 1% 1% 1%;
    text-align: center;
}