*
{
	font-family: 'Open Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}


body
{
  background-image: url(so.pictures/so.wallpaper.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.header
{
	background-color:#EAEAEA;
    padding-top: 10px;
	border:1px #D3D3D3 solid;
}

.header > h1,p
{
	margin-left:10%;
}

.header p
{
    font-size:18px;
}

.header img
{
    height:75px;
    width:75px;
    border-radius:50%;
    display:inline;
    padding:10px;
}
	
.nav-pills
{
    padding-top:20px;
    padding-right: 7%
}

.text-body
{
	padding:10px;
	background-color:#EAEAEA;
	border-radius:2px;
	margin: 15px 10% 15px 10%;
	border: 1px #D3D3D3 solid;
}

.text-body img
{
	margin:10px;
	border:1px black solid;
}

.container p
{
	margin:0;
}

.row
{
	margin-left:10%;
	margin-right:10%;
}

.mainpic
{
  margin:10%;
  height:80%;
  width:80%;
  border-radius:50%;
  border:1px black solid;
}

.imgcaption
{
  margin-left:10%;
  margin-right:10%;
  margin-top:calc(-80% - 20% - 21px);
  text-align:center;
  height:80%;
  min-height: 1px;
  width:80%;
  border-radius:50%;
  border:1px black solid;
  background-color:white;
  opacity:0;
}

.imgcaption:hover
{
  opacity:.8;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.text-body
{
	font-size:18px;
}

.aboutme h3
{
	text-align:center;
}

.aboutme img
{
	display:inline; 
	float:left; 
	margin:15px;
	border-radius:2px;
	border:2px black solid;
}

.form
{
	width:inherit;
}

#contact
{
    height:23.3%;
    width:23.3%;
}

.footer
{
    background-color:#EAEAEA;
	width:100%;
	border:1px #D3D3D3 solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer p
{
    font-size: 12px;
    margin-bottom: auto
}

.projectimg {
  display: inline;
  height:50%;
  min-height: 20px;
  width: 50%;
  min-width: 250px;
  margin:10px;
	border-radius:2px;
	border:2px black solid;
}

.projectitem {
  clear:both;
  margin-bottom: 10px
}